/* Styles for the main container */
.main {
    /* Flex layout with column direction */
    @apply flex flex-col;

    /* Minimum height to occupy at least the full viewport height */
    @apply min-h-screen;
}

/* Styles for the footer */
.footer {
    /* Margin top set to auto to push the footer to the bottom of the container */
    @apply mt-auto;
}